body {
  font-family: "Courier New", Courier, monospace;
  background-image: url("/images/clouds.jpg");
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
}

.current-location {
  text-align: center;
  font-size: 16px;
  background-color: rgb(255, 255, 255, -0.1);
  border: none;
  padding-top: 10px;
  text-align: right;
}

.search-button {
  background-color: rgb(255, 255, 255, -0.1);
  border: none;
  color: #696969;
  text-align: left;
  font-size: 16px;
  padding-top: 10px;
}

.current-location:hover,
.current-location:visited,
.current-location:active,
.current-location:focus {
  background-color: rgb(250, 250, 250, -0.1);
  border: none;
}

.search-button:hover,
.search-button:visited,
.search-button:active,
.search-button:focus {
  background-color: rgb(255, 255, 255, -0.1);
  border: none;
}

.city-name {
  background-color: rgb(255, 255, 255, 0.5);
  color: #696969;
  font-size: 16px;
}

h1 {
  color: #8e7cce;
  font-size: 42px;
  font-weight: bold;
  line-height: 28px;
  padding-top: 10px;
}

.date {
  font-size: 14px;
}

p {
  color: #8e7cce;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}

li {
  color: #696969;
  font-size: 18px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
  text-align: center;
}

li:first-letter {
  text-transform: capitalize;
}

ul {
  margin: 0 auto;
  padding: 0;
}

.description,
.date {
  font-size: 14px;
  color: #696969;
}

.weather-elements {
  font-size: 16px;
}

.weather-app {
  border: none;
  padding: 15px 50px 15px 50px;
  margin: 30px auto;
  border-radius: 10px;
  max-width: 650px;
  background-color: rgb(255, 255, 255, 0.7);
  border-color: rgb(255, 255, 255, 0.7);
}

.weather-icon {
  font-size: 48px;
  opacity: 75%;
}

.temperature {
  color: #8e7cce;
  font-size: 56px;
  font-weight: 550;
}

.make-bold {
  font-weight: bold;
  color: #8e7cce;
}

.units {
  position: relative;
  top: -27px;
  font-size: 14px;
  color: #8e7cce;
}

.weather-temperature {
  text-align: center;
}

.weather-temperature .active {
  color: #8e7cce;
  cursor: default;
  font-weight: bold;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: #696969;
}

.search-form {
  margin-bottom: 20px;
}

.day {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #8e7cce;
}

.weather-forecast {
  margin-top: 15px;
  text-align: center;
}

.weather-image {
  font-size: 24px;
  text-align: center;
  opacity: 75%;
}

.temperature-high {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #8e7cce;
}

.temperature-low {
  text-align: center;
  font-size: 16px;
  color: #696969;
}

footer {
  font-size: 12px;
  margin-top: 25px;
  text-align: left;
  color: #696969;
  font-family: cursive;
}

#git-link {
  color: #8e7cce;
}

/* Media Query for iphone XR, Galaxy A51/71, Galaxy S20 Ultra */
@media (max-width: 480px) {
  .current-location {
    font-size: 12px;
  }

  .search-button {
    font-size: 12px;
  }

  .city-name {
    font-size: 12px;
  }

  h1 {
    font-size: 34px;
  }

  .date {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .description,
  .date {
    font-size: 12px;
  }

  .weather-elements {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .temperature {
    font-size: 42px;
  }

  .weather-image {
    width: 32px;
  }

  #icon {
    margin-top: 10px;
    width: 90px;
  }

  .units {
    top: -21px;
    font-size: 10px;
  }

  .day {
    font-size: 16px;
  }

  .weather-image {
    font-size: 10px;
  }

  .temperature-high {
    font-size: 14px;
  }

  .temperature-low {
    font-size: 12px;
  }

  footer {
    font-size: 10px;
    text-align: center;
  }
}

/* Media Query for iPhone SE, iPhone XR Pro, Pixel5 */
@media (max-width: 400px) {
  .current-location {
    font-size: 10px;
  }

  .search-button {
    font-size: 10px;
  }

  .city-name {
    font-size: 10px;
  }

  h1 {
    font-size: 32px;
  }

  .date {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

  .description,
  .date {
    font-size: 10px;
  }

  .weather-elements {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .temperature {
    font-size: 40px;
  }

  .weather-image {
    width: 30px;
  }

  #icon {
    margin-top: 8px;
    width: 80px;
  }

  .units {
    top: -21px;
    font-size: 10px;
  }

  .day {
    font-size: 14px;
  }

  /* .weather-image {
    font-size: 10px;
  }
  */

  .temperature-high {
    font-size: 12px;
  }

  .temperature-low {
    font-size: 10px;
  }

  footer {
    font-size: 10px;
    text-align: center;
  }
}

/* Media Query for smallest phones, like Galaxy Fold */
@media (max-width: 300px) {
  .current-location {
    font-size: 8px;
    padding-top: 5px;
    text-align: left;
  }

  .search-button {
    font-size: 8px;
    padding-top: 5px;
    text-align: left;
  }

  .city-name {
    font-size: 8px;
    padding-top: 5px;
    text-align: center;
  }

  h1 {
    font-size: 28px;
  }

  .date {
    font-size: 10px;
  }

  p {
    font-size: 10px;
  }

  .description,
  .date {
    font-size: 8px;
    margin-bottom: 5px;
  }

  .weather-elements {
    font-size: 8px;
    margin-bottom: 5px;
  }

  .temperature {
    font-size: 18px;
  }

  .weather-image {
    width: 27px;
    text-align: center;
  }

  #icon {
    margin-top: 10px;
    width: 60px;
  }

  .units {
    top: -8px;
    font-size: 8px;
  }

  .day {
    font-size: 12px;
  }

  .weather-image {
    font-size: 10px;
  }

  .temperature-high {
    font-size: 12px;
  }

  .temperature-low {
    font-size: 10px;
  }

  footer {
    font-size: 8px;
    text-align: center;
  }
}
